<!DOCTYPE html>
{%load static%}
<html id="body">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="/static/styles.css"> -->

    <title>Egypte</title>
</head>


<body >

<div class="Container">


<!-- Left-div -->
    <div class="left-div">
        <div class="main-img">
            <a href="{%url 'index'%}"><img src="/media/bedding/scarab.png"></a>
        </div>

        {%if user.is_authenticated%}
        <p>Welcome {{request.user.userprofile.firstname}}</p>
        {%endif%}
        <button id="first-nav" class="nav"><a href="{% url 'product:antique'  %}" >Antiques</a></button>
        <button  class="nav"><a href="{% url 'product:bedding'  %}" >Bedding</a></button>

        <button class="nav"><a href="{%url "product:show" %}" >Cart</a></button>
    </div>





<!-- Page content -->

<div  class="page-content">
    <div class="top-right">

        <a href="{%url 'product:show' %}" ><img src="/media/bedding/Cart.png" alt=""></a>
        {%if not user.userprofile.user%}
        {%if user.is_authenticated%}
        <button class="nav-top profile"><a href="{%url "login:addprofile" %}" >Profile </a></button>
        {%endif%}{%endif%}
        {%if user.userprofile.user%}{%if user.is_authenticated%}
        <button class="nav-top profile"><a href="{%url "login:updateprofile" user.userprofile.id %}"
                   >Update Profile </a></button>
                  {%endif%}{%endif%}
        <div class="nav-top-left">
            {%if not user.is_authenticated%}
            <button class="nav-top"><a href="{%url "login:login" %}" > Login </a></button>
            {%endif%}

            {%if user.is_authenticated%}
            <button class="nav-top"><a href="{%url "login:logout" %}" > Logout </a></button>
            {%endif%}
            {%if not user.is_authenticated%}
            <button class="nav-top"><a href="{%url "login:register" %}" >Register</a></button>
            {%endif%}


        </div>



    </div>
    <div class="block-content">
        {%block body%}

        {%endblock%}
    </div>

</div>
</div>


<script src="/static/script.js"></script>
</body>
</html>
