{%extends "egytemp/base.html"%}
{%block body%}

{%if user.is_authenticated%}
    {%for i in cartitems %}
        <div class="cart-product">
            <form  action="{% url 'product:summary' %}" method="post">
                {%csrf_token%}
                <img src="{{i.productimage1}}" alt="{{i.productname}}">
                <p>{{i.productname}}</p>
                <input type= "text" name="quantity" value="{{i.stock}}"><br/>
                <input type="submit" name="Submit" value="Delete">
                <input type="hidden" value="{{i.productname }}"     name="productname">
                <input type="hidden" value="{{i.productcategory}}"  name="productcategory">
                <input type="hidden" value="{{i.id}}"  name="id">           
        </div>
            
    {%endfor%}
                <div class="clear"></div>
                {%if cartitems%}
            
                    <div class="cart-submit">
                        <input type="submit" name = "Submit"  value="Submit Order">
                    </div>

                {%endif%}

            </form>
    

{%else%}




    {%for i in sessionItems %}
        <div class="cart-product">
            <form  action="{% url 'product:summary' %}" method="post">
                {%csrf_token%}
                
                <img src="{{i.productimage1}}" alt="{{i.productname}}" >
                <p>{{i.productname}}</p>
                <input type= "text" name="quantity" value="{{i.stock}}">
                
                {%if sessionItems%}
                    <input type="submit" name="Submit" value="Delete">
                {%endif%}

                <input type="hidden" value="{{i.productname }}"     name="productname" >
                <input type="hidden" value="{{i.productcategory}}"  name="productcategory">
                <input type="hidden" value="{{i.id}}"  name="id">

        </div>
    {%endfor%}
            </form>

{%endif%}
{%endblock%}
