

{%extends "egytemp/base.html"%}





{%block body%}
<form  action="{% url 'product:upload'%}" method="post" enctype='multipart/form-data'>
    {%csrf_token%}
    <input type="file" name="pic" >
    <input type="submit" value="upload">
</form>

<div class="main-img-div">
    <a href="/bedding/">
        <img src="https://s3.us-east-2.amazonaws.com/egypte/mainimg.jpg" alt="bed">
    </a>
</div>

<div class="products">

    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/morebedding.jpg" id="1"
        onclick="changeSizeOfPic(this.id)"
        onmouseout="originalSize(this.id)">
        <a href="bedding/2/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>

    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/beddingsheet.jpg" id="2"
        onclick="changeSizeOfPic(this.id)"
        onmouseout="originalSize(this.id)">
        <a href="bedding/3/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>

    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/beddingsheets2.jpg" id="3"
        onclick="changeSizeOfPic(this.id)"
        onmouseout="originalSize(this.id)">
        <a href="bedding/12/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>

    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/bath.jpg" id="4"
        onclick="changeSizeOfPic(this.id)"
        onmouseout="originalSize(this.id)">
        <a href="bedding/5/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>

    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/anotherbath.jpg" id="5"
        onclick="changeSizeOfPic(this.id)"
        onmouseout="originalSize(this.id)">
        <a href="bedding/6/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>

    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/ebreek.jpg" id="6"
        onclick="changeSizeOfPic(this.id)"
        onmouseout="originalSize(this.id)">
        <a href="bedding/7/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>

    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/lo7a.jpg" id="7"
        onclick="changeSizeOfPic(this.id)"
        onmouseout="originalSize(this.id)">
        <a href="bedding/8/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>

    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/ScarabPillow.jpg" id="8"
        onclick="changeSizeOfPic(this.id)"
        onmouseout="originalSize(this.id)">
        <a href="bedding/9/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>

    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/ancientdog.jpg" id="9"
        onclick="changeSizeOfPic(this.id)"
        onmouseout="originalSize(this.id)">
        <a href="bedding/10/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>

    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/papyrus.jpg" id="10"
        onclick="changeSizeOfPic(this.id)"
        onmouseout="originalSize(this.id)">
        <a href="bedding/11/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>

</div>







{%endblock%}
