

{%extends "egytemp/base.html"%}





{%block body%}




<div class="main-img-div">
    <a href="/bedding/">
        <img src="https://s3.us-east-2.amazonaws.com/egypte/mainimg.jpg" alt="bed">
    </a>
</div>

<div class="products">
    
    <div class="product">
      <img 
        src="https://s3.us-east-2.amazonaws.com/egypte/morebedding.jpg" 
        onclick="changeSizeOfPic(this.id)" id="1"
        onmouseout="originalSize(this.id)">
        <a href="bedding/2/itemshow/">
            <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
        </a>
    </div>
    
    <div class="product">
      <img 
        src="https://s3.us-east-2.amazonaws.com/egypte/beddingsheet.jpg" 
        onclick="changeSizeOfPic(this.id)" id="2"
        onmouseout="originalSize(this.id)">
      <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
    </div>
    
    <div class="product">
      <img 
        src="https://s3.us-east-2.amazonaws.com/egypte/beddingsheets2.jpg" 
        onclick="changeSizeOfPic(this.id)" id="3"
        onmouseout="originalSize(this.id)">
      <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
    </div>
    
    <div class="product">
      <img 
        src="https://s3.us-east-2.amazonaws.com/egypte/bath.jpg" 
        onclick="changeSizeOfPic(this.id)" id="4"
        onmouseout="originalSize(this.id)">
      <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
    </div>
    
    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/anotherbath.jpg" 
        onclick="changeSizeOfPic(this.id)" id="5"
        onmouseout="originalSize(this.id)">
      <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
    </div>
    
    <div class="product">
      <img 
        src="https://s3.us-east-2.amazonaws.com/egypte/ebreek.jpg" 
        onclick="changeSizeOfPic(this.id)" id="6"
        onmouseout="originalSize(this.id)">
      <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
    </div>
    
    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/lo7a.jpg" 
        onclick="changeSizeOfPic(this.id)" id="7"
        onmouseout="originalSize(this.id)">
      <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
    </div>
    
    <div class="product">
      <img 
        src="https://s3.us-east-2.amazonaws.com/egypte/ScarabPillow.jpg" 
        onclick="changeSizeOfPic(this.id)" id="8"
        onmouseout="originalSize(this.id)">
      <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
    </div>
    
    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/ancientdog.jpg" 
        onclick="changeSizeOfPic(this.id)" id="9"
        onmouseout="originalSize(this.id)">
      <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
    </div>
    
    <div class="product">
      <img
        src="https://s3.us-east-2.amazonaws.com/egypte/papyrus.jpg" 
        onclick="changeSizeOfPic(this.id)" id="10"
        onmouseout="originalSize(this.id)">
      <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
    </div>

</div>







{%endblock%}
