

{%extends "egytemp/base.html"%}





{%block body%}




<div class="main-img-div">
    <a href="/bedding/antiques/">
        <img class="main-img" src="media/bedding/mainimg.jpg" alt="bed">
    </a>
</div>

      <div class="products">
      <div class="product">
          <img 
            src="media/bedding/morebedding.jpg" id="1"
            onclick="changeSizeOfPic(this.id)"
            onmouseout="originalSize(this.id)">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>
      <div class="product">
          <img 
            src="media/bedding/beddingsheet.jpg" id="2"
            onclick="changeSizeOfPic(this.id)"
            onmouseout="originalSize(this.id)">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>
      <div class="product">
          <img 
            src="media/bedding/beddingsheets2.jpg" id="3"
            onclick="changeSizeOfPic(this.id)"
            onmouseout="originalSize(this.id)">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>
      <div class="product">
          <img 
            src="media/bedding/bath.jpg" id="4"
            onclick="changeSizeOfPic(this.id)"
            onmouseout="originalSize(this.id)">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>
      <div class="product">
          <img
            src="media/bedding/anotherbath.jpg" id="5"
            onclick="changeSizeOfPic(this.id)"
            onmouseout="originalSize(this.id)">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>
      <div class="product">
          <img 
            src="media/bedding/ebreek.jpg" id="6"
            onclick="changeSizeOfPic(this.id)"
            onmouseout="originalSize(this.id)">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>
      <div class="product">
          <img
            src="media/bedding/lo7a.jpg" id="7"
            onclick="changeSizeOfPic(this.id)"
            onmouseout="originalSize(this.id)">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>
      <div class="product">
          <img 
            src="media/bedding/scarabPillow.jpg" id="8"
            onclick="changeSizeOfPic(this.id)"
            onmouseout="originalSize(this.id)">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>
      <div class="product">
          <img
            src="media/bedding/ancientdog.jpg" id="9"
            onclick="changeSizeOfPic(this.id)"
            onmouseout="originalSize(this.id)">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>
      <div class="product">
          <img
            src="media/bedding/papyrus.jpg" id="10"
            onclick="changeSizeOfPic(this.id)"
            onmouseout="originalSize(this.id)">
          <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
      </div>

  </div>







{%endblock%}
