{%extends "egytemp/base.html"%}
{%block body%}
{{error}}





<div class="reg-form">
    <form action="{% url 'login:login' %}" method="post">
        {% csrf_token %}
        
        <div class="reg-form-inputs">
            <label>Username</label>
            <input type="text" name="username" value="username">
        </div>
        
        <div class="clear"></div>
        
        <div class="reg-form-inputs">
            <label>Password</label>
            <input type="password" name="password" value="password">
        </div>
        
        <div class="clear"></div>
        
        <div class="submit-div">
            <input type="Submit"  value="Login">
        </div>

    </form>
</div>
{%endblock%}
