{%extends "egytemp/base.html"%}
{%block body%}


{%for i in product%}
    
    <div class="product">
        
        <a href="{% url 'product:item' i.id %}">
            <img    src="{{i.productimage1.url}}"
                    alt="{{i.productname}}" id={{i.id}}
                    >
        </a>
        
        <a href="{% url 'product:item' i.id %}">
           <p>{{i.productname}}<br><b>$24.99</b></p>
        </a>
        
    </div>
           
{%endfor%}
{%endblock%}
