{%extends "egytemp/base.html"%}
{%block body%}


<div class="reg-form">
    <form  method="post" enctype = "multipart/form-data">
        {%csrf_token%}   
        
            {%for i in form%}
                <div class="reg-form-inputs">
                    <label>{{i.label}}</label>
                        {{i}}
                </div>        
            {%endfor%}
        
        <div class="clear"></div>
        
        <div class="submit-div">
            <input type="submit"  value="Save">
        </div>  
        
    </form>
</div>

{%endblock%}
